.history-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-section label {
  font-weight: bold;
  color: #555;
}

.filter-section > div {
  flex: 1;
  min-width: 250px;
}

.trips-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #555;
}

table th {
  background-color: #007bff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

table tr:hover {
  background-color: #f1f1f1;
}

table td {
  color: #666;
}

table tr:last-child td {
  border-bottom: none;
}

p {
  font-size: 14px;
  color: #999;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
  }

  .filter-section > div {
    flex: 1 1 100%; /* Os campos ocupam 100% da largura em telas pequenas */
  }

  table th, table td {
    font-size: 12px;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }
}
